main.category {
  background: #001873;
  border-radius: 5px;
  // width: 95%;
  height: auto;
  margin: 1em;
}

header {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 0.75em;
  display: flex;
  align-items: center;
  padding: 10px 5px;
  margin: 0 5px 5px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-direction: column;
  align-content: center;
}

.custom-bullets {
  font-size: 0.7em;
  vertical-align: middle;
  align-content: inherit;
  padding: 0 0.5em 0.25em 1em;
}

ul li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

.more-settings {
  font-size: 0.7em;
  vertical-align: center;
  padding: 0 0.8em;
  align-self: center;
}
