main.category {
  background: rgba(170, 194, 244, 0.51);
  border-radius: 5px;
  // width: 95%;
  height: auto;
  margin: 1em;
}

header {
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  display: flex;
  align-items: center;
}
