main.category {
  background: rgba(170, 194, 244, 0.51);
  border-radius: 5px;
  // width: 95%;
  height: auto;
  margin: 1em;
}

header {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 0.75em;
  display: flex;
  align-items: center;
  padding: 10px 5px;
  margin: 0 5px 10px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

ul {
  display: inline-block;
  margin: 0;
  padding: 5px 28px;
}
