// See: https://sass-lang.com/

body {
  color: #FBFEF9;
  font-size: 14px;
  height: 100vh;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 12.27%, rgba(67, 233, 255, 0.45) 100%), #0F39E6;
}
