$textwhite: #fbfef9;
$richblack: #0b0b23;
$darkblue: #222238;
$buttonblue: #08A6FF;


nav {
  display: flex;
  position: sticky;
  z-index: 700;
  top: 0;
  height: 110px;
  background-color: $richblack;
  padding: 1em 0;
  flex-direction: column;
  justify-content: space-between;

}

button.main-buttons {
  color: $textwhite;
  border-radius: 4px;
  background-color: $buttonblue;
  border-style: none;
  text-align: center;
  height: 1.8em;
  margin-left: 0.5em;
  font-size: 1.1em;
  outline: none;
}


nav button.main-buttons:hover {
  background-color: rgba(8, 164, 255, 0.829);
}

.container-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  width: 100%;
  height: 30px;
  resize: none;
  color: #000000;
  background-color: $textwhite;
  border-style: none;
  outline: none;
  overflow: hidden;
  text-align: center;
  border-radius: 4px;
  vertical-align: middle;
  line-height: 26px; //FIX THIS TOMORROW
}

#logo {
  font-family: Arimo;
  font-weight: 700;
  font-size: 1.5em;
}
