/* Coolors Exported Palette - coolors.co/001567-00106b-001680-4b3f72-1831c6 */

/* HSL */
$color1: hsla(228%, 100%, 20%, 1);
$color2: hsla(231%, 100%, 21%, 1);
$color3: hsla(230%, 100%, 25%, 1);
$color4: hsla(254%, 29%, 35%, 1);
$color5: hsla(231%, 78%, 44%, 1);

/* RGB */
$color1: #001567;
$color2: #00106b;
$color3: #001680;
$color5: #1831c6;
