.registration {
  margin: 1em;
}

#create-account {
  max-width: 600px;
  display:none;
  margin: 0 auto;
}

#login-account {
  max-width: 600px;
  display:none;
  margin: 0 auto;
}

form button.main-buttons {
  margin: 14px;
}
