.registration {
  margin: 1em;
}

#create-account {
  max-width: 600px;
  display:none;
  margin: 1em;
}

#login-account {
  max-width: 600px;
  display:none;
  margin: 1em;
}

#edit-account {
  max-width: 600px;
  display:none;
  margin: 1em;
}

form button.main-buttons {
  margin: 1em;
}

div.registration input {
  text-align: left;
}
